h1 {
    color:darkorange;
    font-weight: 100;

}

h2 {
    color:darkblue;
    font-weight: 100;
}
h3 {
    color:darkorchid
}
a {
    color: black;
    font-weight: 100;
}

.thisclass { 
    font-size:x-large;
    color:purple;

}
.funfact {
    width: 1%;
    color: coral;
    
    
}
#special {
    font-style: oblique;
    color:darkslategray

}
#specialDos {
    font-style: italic;
    color:darkslategray
}
#specialTres {
    font-style: italic;
    color: darkslategrey
}